.cont {
  .top {
    color: #ff9302;

    .logo {
      display: inline-block;
      width: 200px;
      height: 200px;
      background-image: url('../img/logo.png');
      background-size: contain;
    }
  }
  .bottom {
    color: #fff000;
  }
}